@import "reset.less";
@import "variables.less";
@import "global.less";

body {
  background-color: @background-beige;

  header {
    // margin: 0 auto;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-nav {
    // border: 1px solid pink;
    padding: 3rem 3rem;
    max-width: 120rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  .main-nav-links {
    flex-grow: 2;
  }

  .main-navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    align-self: flex-end;
  }

  .hamburger-menu {
    cursor: pointer;
    display: none;
  }

  a {
    text-decoration: none;
  }

  #main-logo,
  .link {
    color: @dark-grey;
  }

  #main-logo {
    flex-grow: 3;
    font-size: 2.4rem;
  }

  .link {
    font-size: 1.8rem;
  }
}
